/* @import url(); */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-size: ""; */
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #6f97c4;

}

.searchBox{
    display: inline-block;
    list-style: none;
    margin-bottom: 10px;
    padding: 0;
}

.searchBox li{
    display: inline-block;
    margin-right: 10px;
}

.searchBox li input{
    width: 90px;
    border:1px solid black;
    padding: 2px 5px;
    border-radius: 5px;
}
.searchBox li button{
    background-color: #a8a6a6;
    border:1px solid black;
    padding: 2px 8px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.searchBox li button:hover{
    background-color: rgb(110, 110, 110)
}


.calendar{
    width: 380px;
    height: auto;
    display: flex;
    flex-direction:column;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.monthYear{
    text-align: center;
    font-weight: 600;
    width: 150px;
    cursor: default;
}

.header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    border-radius: 50%;
    background: #fff;
    cursor:pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    cursor: default;
}
.day{
    text-align: center;
    padding: 5px;
    color: #999fa6;
    font-weight: 600;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.2s;
}
.date.active{
    background:#ff5869;
    color:#fff;
}
.date.inactive{
    color: #d2d2d2;
}
.date:hover{
    background:#fc3f52;
    color:#fff;
}

.error{
    animation: shake 0.1s linear 5; 
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-1px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(1px);
    }
    100%{
        transform: translateX(0);
    }
}